<div class="modal create-post-modal">

	<!-- Post Info -->
	<div class="create-post-header">
		<div class="row row-center">
			<div class="col simple-col">
				<img class="clip-circle icon" src={{me.user.icon}}>
			</div>
			<div class="col simple-col">
				<label class="item item-input price">
			    	<input type="number" placeholder="$20" ng-model="data.price">
			  	</label>
			</div>
			<div class="col simple-col">
				<label class="item item-input edition">
			    	<input type="number" placeholder="1" ng-model="data.edition">
			  	</label>
			</div>
			<div class="col simple-col">
				<label class="item item-input item-select condition">
				    <select name='options' ng-model="data.condition">
			            <option  ng-repeat="condition in conditions" ng-value="condition.value">{{ condition.value }}
	                    </option>
		          	</select>
			  	</label>
			</div>
		</div>
		<div class"row bottom-row">
			<div class="col col-25 bottom-col">
				<p class="name">{{me.user.name}}</p>
			</div>
		</div>
	</div>

	<!-- Post Info -->
	<div class="create-post-content">
		
		<!-- Comments -->
		<label class="item item-input comments">
	    	<textarea placeholder="Comments" ng-model="data.comments"></textarea>
  		</label>

		<!-- Images -->
		<div class="image-gallery">
			<div class="row">
				<div class="col">
					<button ng-show="images.length >= 0" ng-click="addImage()" class="button ion-android-camera stotle-button"></button>
				</div>
				<div class="col">
					<button ng-show="images.length >= 1" ng-click="addImage()" class="button ion-android-camera stotle-button"></button>
				</div>
				<div class="col">
					<button ng-show="images.length >= 2" ng-click="addImage()" class="button ion-android-camera stotle-button"></button>
				</div>
				<div class="col">
					<button ng-show="images.length >= 3" ng-click="addImage()" class="button ion-android-camera stotle-button"></button>
				</div>
			</div>
		</div>
		
	</div>

	<!-- Footer Buttons -->
	<div class="button-bar create-post-footer">
		<button class="button button-clear stotle-button close" ng-click="closeCreatePost()">
			Close
		</button>
		<button class="button button-clear stotle-button message" ng-click="createPost()">
			Finish
		</button>
	</div>

</div>