<ion-view title="Stotle" hide-back-button="true" style="background: #FFF" hide-nav-bar="true">
	<ion-content class="login-screen" has-header="true" padding="true">
		<!-- <div class="list list-inset"> -->
			<div class="login-icon-container">
				<img class="login-icon" src="img/stotle-icon-500.png"/>
			</div>
			<button class="button button-block login-button" ng-click="facebookLogin()">
				<i class="icon ion-social-facebook"></i>
				&nbsp;Login with Facebook
			</button>
		<!-- </div> -->
	</ion-content>
</ion-view>

<!-- Nav Bar -->
<!-- <ion-nav-bar class="nav-title-slide-ios7 stotle-nav-bar-clear" ng-click="back()">
  <button class="button-icon icon ion-ios7-arrow-left stotle-button conversation-back" ng-click="back()"></button>
</ion-nav-bar> -->