<div class="modal settings-modal">
	<!-- Nav Bar -->
	<ion-nav-bar class="bar-light nav-title-slide-ios7 stotle-nav-bar-clear"  ng-click="closeNotifications()">
	  <button class="button button-clear pull-right stotle-button" ng-click="closeNotifications()">Done</button>
	</ion-nav-bar>

	<ion-view title="Notifications{{count}}" class="notifications-content">

		<ion-list>
			<div ng-repeat="notification in notifications">

				<ion-item class="item notification-item" ng-class="{'count-notification': notification.user == ''}" ng-click="goToItem(notification)">
					<!-- Optional User Picture -->
					<img src={{notification.user.icon}} class="user-icon" ng-if="notification.user !== ''">

					<!-- Optional User Picture -->
					<img src={{notification.book.icon}} class="book-icon">


					<!-- Notification Text -->
					<div class="text">
						<div class="message">{{notification.text}}</div>
						<div class="book">{{notification.book.title}}</div>
					</div>



				</ion-item>
			</div>
		</ion-list>

	</ion-view>
</div>