<div class="modal post-detail-modal">

	<!-- Post Info -->
	<div class="post-detail-header">
		<div class="row row-center">
			<div class="col simple-col">
				<img class="clip-circle icon" src={{post.user.icon}}>
			</div>
			<div class="col simple-col">
				<div class="price">${{post.price}}</div>
			</div>
			<div class="col simple-col">
				<div class="edition">{{post.edition}}</div>
			</div>
			<div class="col simple-col">
				<div class="condition">{{post.condition}}</div>
			</div>
		</div>
		<div class"row bottom-row">
			<div class="col col-25 bottom-col">
				<p class="name">{{post.user.name}}</p>
			</div>
		</div>
	</div>

	<!-- Post Details -->
	<ion-content class="post-detail-content">
		
		<!-- Images -->
		<ion-scroll direction="x" class="image-gallery">
			<img ng-repeat="image in post.images" class="image" src={{image}}>
		</ion-scroll>

		<!-- Comments -->
		<!-- <div class="card comments">
		  <div class="item item-text-wrap body">
		    {{post.comments}}
		  </div>
		</div> -->

		<div class="comments">
				{{post.comments}}
		</div>

		<!-- <ion-scroll direction="y" class="comments">
			<div class="body">
				{{post.comments}}
			</div>
		</ion-scroll> -->

	</ion-content>

	<!-- Footer Buttons -->
	<div class="bar bar-footer post-detail-footer">
		<button class="button button-clear stotle-button close" ng-click="closePostDetail()">Close</button>
		<button class="button button-clear stotle-button message">Message</button>
	</div>

</div>