<ion-view>

	<!-- Column Headers -->
	<!-- <div class="has-header post-column-headers">
		<div class="row row-center">
			<div class="col header-col user">
				User
			</div>
			<div class="col header-col">
				Price
			</div>
			<div class="col header-col">
				Edition
			</div>
			<div class="col header-col">
				Condition
			</div>
		</div>
	</div> -->

	<ion-content class="posts-content" delegate-handle="postScroll">
		<!-- Results Content -->
		<ion-list>

			<div class="post-column-headers">
		<div class="row row-center">
			<div class="col header-col user">
				User
			</div>
			<div class="col header-col">
				Price
			</div>
			<div class="col header-col">
				Edition
			</div>
			<div class="col header-col">
				Condition
			</div>
		</div>
	</div>

			<!-- Messages -->
			<div ng-repeat="post in posts | orderObjectBy: 'price' track by post.id">

				<div class="post-item" ng-click="openPostDetail(post)">

					<div class="row row-center">
						<div class="col simple-col">
							<!-- <div class="center-cropped" style="background-image: url({{post.userIcon}});"></div> -->
							<img class="clip-circle" src="{{post.userIcon}}"/>
						</div>
						<div class="col simple-col">
							<div class="price">${{post.price}}</div>
						</div>
						<div class="col simple-col">
							<div class="edition">{{post.edition}}</div>
						</div>
						<div class="col simple-col">
							<div class="condition">{{post.condition}}</div>
						</div>
					</div>

					<div class"row bottom-row">
						<div class="col col-25 bottom-col">
							<p class="name">{{post.user}}</p>
						</div>
					</div>
					
				</div>

			</div>
		</ion-list>
	</ion-content>
</ion-view>