<ion-view title="My Books">
	<ion-content class="has-header">
		<ion-list>
			<div ng-repeat="reference in references">

				<ion-item class="item item-avatar reference-item" option-buttons="itemButtons" ng-click="toggleReference(reference)" ng-class="{active:isReferenceShown(reference)}">
					<img src={{reference.icon}} class="reference-icon">
					<h2 class="reference-title">{{reference.title}}</h2>
					<p class="reference-author">{{reference.author}}</p>
					<p ng-if="reference.price != ''"class="reference-price">${{reference.price}}</p>
					<p class="reference-count">{{reference.count}}</p>

					<!-- Hidden Buttons -->
					<div class="reference-item-buttons">
						<ion-option-button class="button reference-item-button" ng-click="edit(item)">
		            		<i class="icon ion-edit"></i>
		          		</ion-option-button>
		          		<ion-option-button class="button reference-item-button" ng-click="search(item)">
		            		<i class="icon ion-search"></i>
		          		</ion-option-button>
		          		<ion-option-button class="button reference-item-button" ng-click="delete(reference)">
		            		<i class="icon ion-checkmark"></i>
		          		</ion-option-button>
		          		<ion-option-button class="button reference-item-button" ng-click="markComplete(reference)">
		            		<i class="icon ion-trash-b delete"></i>
		          		</ion-option-button>
	          		</div>
				</ion-item>

				<!-- Accordian Item -->
				<ion-item class="item-accordion item-avatar conversation-item" ng-repeat="conversation in reference.conversations track by conversation.id" ng-show="isReferenceShown(reference)" 
				ui-sref="home.conversation({ referenceIndex: $parent.$parent.$index, conversationIndex: $index})" ng-click="selectConversation($parent.$parent.$index, $index)">
					<img class="clip-circle conversation-icon" src={{conversation.icon}}>
					<div class="conversation-top-line">
						<div class="conversation-name">{{conversation.name}}</div>
						<p class="conversation-price">${{conversation.price}}</p>
					</div>
					<p class="conversation-preview">{{conversation.preview}}</p>
					
				</ion-item>

			</div>
		</ion-list>
	</ion-content>
</ion-view>

<!-- href="#/conversation/{{$parent.$parent.$index}}/{{$index}}" -->