<ion-view title="My Books">
	<ion-content class="has-header">
		<ion-list>
			<div ng-repeat="reference in references track by reference.title">

				<ion-item class="item item-avatar reference-item" option-buttons="itemButtons" ng-click="toggleReference(reference)" ng-class="{active:isReferenceShown(reference)}">
					<img class="icon reference-icon" ng-src={{reference.icon}} err-src="img/test/blank_cover.png">
					<h2 class="reference-title">{{reference.title}}</h2>
					<p class="reference-author">{{reference.author}}</p>
					<p ng-if="reference.price != ''"class="reference-price">${{reference.price}}</p>
					<p class="reference-count">{{reference.conversations.length}}</p>

					<!-- Hidden Buttons -->
					<div class="reference-item-buttons">

		          		<ion-option-button class="button-clear edit" ng-click="edit(item)" ng-if="reference.status == 'open'">
		            		Edit
		          		</ion-option-button>
		          		<ion-option-button class="button-clear search" ng-click="search(reference)" ng-if="reference.status == 'open'">
		            		Search
		          		</ion-option-button>
		          		<ion-option-button class="button-clear delete" ng-click="delete(reference)" ng-if="reference.status == 'open'">
		            		Delete
		          		</ion-option-button>
		          		<ion-option-button class="button-clear sold" ng-click="markSold(reference)" ng-if="reference.status == 'open'">
		            		Mark Sold
		          		</ion-option-button>
		          		<ion-option-button class="button-clear" ng-click="undoMark(reference)" ng-if="reference.status !== 'open'">
		            		Undo
		          		</ion-option-button>
	          		</div>
				</ion-item>

				<!-- Accordian Item -->
				<ion-item class="item-accordion item-avatar conversation-item" ng-repeat="conversation in reference.conversations track by conversation.id" ng-show="isReferenceShown(reference)" 
				ui-sref="home.conversation({ referenceIndex: $parent.$parent.$index, conversationIndex: $index})" ng-click="selectConversation($parent.$parent.$index, $index)">
					

				
					<!-- <div class="center-cropped" style="background-image: url({{conversation.icon}});"></div> -->
					<img class="clip-circle conversation-icon" src="{{conversation.userIcon}}"/>

					<div class="conversation-top-line">
						<div class="conversation-name">{{conversation.name}}</div>
						<p class="conversation-price">${{conversation.price}}</p>
					</div>
					<p class="conversation-preview">{{conversation.messages[conversation.messages.length - 1].body}}</p>
				</ion-item>

			</div>
		</ion-list>
	</ion-content>
</ion-view>

<!-- href="#/conversation/{{$parent.$parent.$index}}/{{$index}}" -->