/* Empty. Add your own CSS if you like */

#search-bar-container {
	height: auto;
}

#search-bar {
	height: 2em;
}

.tabs-top {
	/*Align message tabs to bottom of search bar*/
	top: 3em;
}

.message-title {
	top: 0;
	padding-top: 0;
}

.message-author {
	display: inline;
}

.message-count {
	display: inline;
	float: right;
	margin: 0;
}

/*#make-post-button {
	bottom: 0;
}*/

#modal-title {
	//text-align: left;
	//left: 30px;
}

/*.reference-icon {
	height: 100%;
	background-color: #000;
	display: inline;
}

*//*.reference-book {
	height: 100%;
	display: inline-block;
}*/



.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.search-modal-content {
	top: 30px;		/*align with bottom of subheader*/
}

 /*text stays static*/
.search-modal-subheader {
	padding-left:14px;
	height: 30px;
	background-color: #EEE;
}

.result-title {
	top: 0;
	padding-top: 0;
}

.result-author {
	display: inline;
}



